zfit>=0.5.4
zfit_benchmark@git+git://github.com/zfit/benchmarks.git#egg=zfit_benchmark
tensorflow==2.2.1
tensorflow_probability==0.10.0
tf_quant_finance>=v0.0.1-dev9
KDEpy
seaborn
matplotlib
scipy==1.4.1
uproot
pandas
numpy>=1.16
iminuit
colorlog
texttable
tabulate
colored
colorama
ordered-set
numdifftools
